
/*
Make the document fill the whole viewport, this overrides any weird defaults that browsers might have.
*/
html, body {
	padding: 0;
	margin: 0;
	border: 0;
}
* {
	box-sizing: border-box;
	max-height: 100%;
}

div.container{
	max-width: 1000px;
	margin: auto;
}

#selectors {
	display: flex;
	flex-direction: row;
	max-width: 1000px;
}
.column_buttons {
	display: flex;
	flex-direction: column;
}
.row_buttons {
	display: flex;
	flex-direction: row;
}

/* Default font and size */
body {

	margin-top: 300px;
	width: 100vw;
	height: 100vh;

	/* center vertically */
	display: inline;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;

	text-align: center;

	/* background behind the plot */
	background: rgb(40, 40, 40);

	/* default text */
	font-family: sans-serif;
	font-size: 1.1rem;
	overflow-y: scroll;
}


p, h1, h2, h3 {
	color: #badde1;
}
h1 {
	text-align: center;
}
p {
	column-count: 2;
	column-rule-style: solid;
	column-rule-width: 1px;
}

/* https://www.w3schools.com/tags/tag_button.asp */
button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

div.skeleton {
	border-style: solid;
	border-radius: 10;
	padding: 10px;
	margin: 10px;
	border-color: #badde1;
	overflow: auto;
}
#plotdiv {
	display: flex;
	flex-direction: column;
	overflow: auto;
}
